@media print {
  header,
  footer {
    display: none !important;
  }

  .print-hidden {
    display: none !important;
  }

  body,
  html {
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
  }

  .print-padding {
    padding: 0 !important;
  }

  /* Tambahan untuk menghilangkan URL, tanggal, dan judul halaman */
  @page {
    size: auto;
    margin: 0;
  }

  /* Menghilangkan URL di pojok kiri bawah */
  @page {
    @bottom-left {
      content: none !important;
    }
  }

  /* Menghilangkan tanggal/jam di pojok kanan atas */
  @page {
    @top-right {
      content: none !important;
    }
  }

  /* Menghilangkan judul halaman di tengah atas */
  @page {
    @top-center {
      content: none !important;
    }
  }
}
